<!-- Footer -->
<footer class="site-footer h-card">
  <div id="footer">
    <div class="container">
      <div class="row gtr-200 gtr-uniform">
        <section class="col-4 col-12-medium col-12-small">
          <header class="major">
            <h3>About</h3>
          </header>
          <p>Bodywise Physical Therapy is a team of qualified physical therapists with expertise in rehabilitating sports injuries and other orthopedic conditions. We apply our knowledge, expertise, and cutting-edge rehabilitation techniques in treating elite athletes and patients of all backgrounds and ages. If you're looking for quality physical therapy in Boulder, Broomfield, or Westminster, you've come to the right place.</p>
          <ul class="actions">
            <li><a href="/our-staff/" class="button primary">Learn more</a></li>
          </ul>
        </section>
        <section class="col-4 col-6-medium col-12-small">
          <header class="major">
            <h3>Our Locations</h3>
          </header>
          <ul class="labeled-icons">
            <li>
              <h4 class="icon fa-map-marker"><span class="label">Boulder</span></h4>
              4440 Arapahoe Ave, Suite 101<br>Boulder, CO 80303
            </li>
            <li>
              <h4 class="icon fa-map-marker"><span class="label">Broomfield</span></h4>
              3305 West 144th Ave, Suite 104 <br>Broomfield, CO 80023
            </li>
            <li>
              <h4 class="icon fa-map-marker"><span class="label">Westminster</span></h4>
              10055 Westmoor Drive<br>Westminster, CO 80021
            </li>
          </ul>
        </section>
        <section class="col-4 col-6-medium col-12-small">
          <header class="major">
            <h3>Contact Us</h3>
          </header>
          <ul class="labeled-icons">
            <li>
              <h4 class="icon fa-envelope"><span class="label">Email</span></h4>
              <a href="mailto:admin@bodywisept.com">admin@bodywisept.com</a>
            </li>
            <li>
              <h4 class="icon fa-phone"><span class="label">Phone</span></h4>
              <a href="tel:13034442529">(303) 444-2529</a>
            </li>
            <li>
              <h4 class="icon fa-fax"><span class="label">Fax</span></h4>
              (303) 444-2563
            </li>
            <li>
              <h4 class="icon fa-twitter"><span class="label">Twitter</span></h4>
              <a href="https://twitter.com/BodywiseBoulder" target="_blank">twitter.com/BodywiseBoulder</a>
            </li>
            <li>
              <h4 class="icon fa-facebook"><span class="label">Facebook</span></h4>
              <a href="https://www.facebook.com/bodywiseboulder" target="_blank">facebook.com/bodywiseboulder</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="copyright">
      &copy; Bodywise Physical Therapy <span id="date"></span>. All rights reserved. <a href="/privacy-policy/">Privacy Policy</a>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.dropotron.min.js"></script>
  <script src="/assets/js/jquery.poptrox.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</footer>
