<!-- Header -->
<header class="site-header" role="banner">
  <div id="header" class="{% if page.layout == 'home' %}alt{% else %}{% endif %}">
    <a href="/"><img src="/images/logo.png"></a>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">About Us</a>
          <ul>
            <li><a href="/our-staff">Our Team</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </li>
        <li><a href="/elements.html">Elements</a></li>
        <li><a href="#" class="button alt">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
