<!-- Header -->
<header class="site-header" role="banner">
  <div id="header" class="{% if page.layout == 'home' %}alt{% else %}{% endif %}">
    <h1 id="logo"><a href="index.html">Gravity</a></h1>
    <p>Lorem ipsum dolor sit amet</p>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">About Us</a>
          <ul>
            <li><a href="/test-page">Our Team</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="#" class="button alt">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
