<!-- Header -->
<header class="site-header" role="banner">
  <div id="header" class="{% if page.layout == 'home' %}alt{% else %}{% endif %}">
    <a href="/"><img src="/images/logo.png"></a>
    <nav id="nav">
      <ul>
      {% for item in site.menus.navigation %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
          <ul>
          {% for item in item.children %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
        <li><a href="/contact-us/" class="button primary">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
