---
layout: default
---

<!-- Main -->
<section id="main">
	<div class="container">
		<header class="major">
			<h2>{{ page.title }}</h2>
			<p>{{ page.subtitle }}</p>
		</header>
    <!-- Page content gets pulled in here -->
		{% if page.sidebar == true %}
			{% include sidebar.html %}
		{% else %}
		<section id="content">
			<img src="/images/pic03.jpg" title="{{ page.title }} image" alt="{{ page.title }} image" class="image fit" />
    {{ content }}
		</section>
		{% endif %}
  </div>
</section>
